
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    overflow: auto;
    position: relative;
}

.c888 {
    color: #888;
}

.cbbb {
    color: #bbb;
}

.ceee {
    color: #eee;
}

.cfff {
    color: #fff;
}

.dark2 {
    background-color: rgba(0, 0, 0, 0.2);
}

.dark3 {
    background-color: rgba(0, 0, 0, 0.3);
}

.dark5 {
    background-color: rgba(0, 0, 0, 0.5);
}

.flex {
    display: flex;
}

.fs28 {
    font-size: 28px;
}

.mt4 {
    margin-top: 4px
}

.mt6 {
    margin-top: 6px
}

.mt8 {
    margin-top: 8px
}

.mt12 {
    margin-top: 12px
}

.mt16 {
    margin-top: 16px
}

.mt20 {
    margin-top: 20px
}

.mt24 {
    margin-top: 24px
}

.mt32 {
    margin-top: 32px
}

.mt35 {
    margin-top: 35px
}

.ml6 {
    margin-left: 6px;
}

.ml24 {
    margin-left: 24px;
}

.pt4 {
    padding-top: 4px
}

.pt6 {
    padding-top: 6px
}

.pt8 {
    padding-top: 8px
}

.pt12 {
    padding-top: 12px
}

.pt16 {
    padding-top: 16px
}

.pt32 {
    padding-top: 20px
}

.pt40 {
    padding-top: 40px
}

.pt48 {
    padding-top: 48px
}

.pb48 {
    padding-bottom: 48px
}

.pt60 {
    padding-top: 60px
}

.tc {
    text-align: center;
}

.fs20 {
    font-size: 20px;
}

.fs24 {
    font-size: 24px;
}

.fs30 {
    font-size: 30px;
}

.w50p {
    width: 50%;
}

.fourRateDate {
    display: block;
    position: absolute;
    top: 18px;
    right: 90px;
    color: #ddd;
}

.i_btns {
    position: relative;
    width: 70px;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.07);
}

    .i_btns > i {
        padding: 16px;
        width: 100%;
        color: #4f5358;
        font-size: 36px;
    }

    .i_btns:hover {
        background: #cd1c0d;
        transition: all 0.1s linear;
        text-decoration: none;
    }

        .i_btns:hover > i {
            color: #fff;
            transition: all 0.1s linear;
        }


* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    line-height: 1.4
}

body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

#liruChange, #shouruChange {
    color: #a0dc61;
    margin-right: 6px;
}

.main-layer {
}

.header {
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.layer {
}

.body {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: stretch;
    width: 100%;
    padding: 0 10px 20px 10px;
}

    .body > * > * {
        margin: 18px 7px 0 7px;
        min-width: 100px;
        min-height: 100px;
    }

.table {
    table-layout: fixed;
}

.p1, .p2, .p3 {
    display: flex;
    flex-direction: column;
}

    .p1 .card {
        /*flex-grow:1;*/
    }

    .p3 .card {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

        .p3 .card .c-item {
            flex-grow: 1;
        }


.card {
    position: relative;
}

.card > * {
    width: 100%;
}

.c-header {
    position: relative;
    width: 100%;
    padding: 19px 24px;
}

.title {
    font-size: 18px;
}

    .title .time {
        font-size: 14px;
        vertical-align: bottom;
        padding-left: 12px;
    }

.c-right {
    position: absolute;
    padding-right: 9px;
    right: 0;
    top: 0;
    bottom: 0;
}

    .c-right:before {
        content: '';
        vertical-align: middle;
        display: inline-block;
        height: 100%;
    }

    .c-right > * {
        vertical-align: middle;
    }

.rmore {
    height: 42px;
    width: 44px;
    padding: 10px;
    display: inline-block;
    line-height: 62px;
}

    .rmore:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        content: '¸ü¶à';
        color: #fff;
        text-align: center;
        text-decoration: underline;
    }

.c3.rmore {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    line-height: 42px;
}

.rmore:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.rmore:active {
    background-color: rgba(0, 0, 0, 0.1);
}

.rmore img {
    display: none;
    height: 100%;
    height: 100%;
}

.c-item {
    position: relative;
    margin-top: 2px;
}



.tree-root {
    padding: 12px 0 12px 60px;
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    white-space: nowrap;
}

.tree-root .t-item {
    display: table-cell;
}

.tree-root .switch {
    position: relative;
    font-style: normal;
}

    .tree-root .switch[state=close]:before {
        content: '+';
        position: absolute;
        left: -28px;
        line-height: 36px;
        cursor: pointer;
    }

    .tree-root .switch[state=open]:before {
        content: '-';
        position: absolute;
        left: -28px;
        line-height: 36px;
        cursor: pointer;
    }

.t-children {
    position: relative;
    padding-left: 36px;
}


.white-bg {
    background-color: #fff;
    border: solid 1px #e8e8e8;
    margin-bottom: 15px;
}

.white-bg span.title {
    display: block;
    height: 42px;
    line-height: 42px;
    color: #646464;
    border-bottom: solid 1px #E8E8E8;
    font-size: 16px;
    padding-left: 20px;
}

.white-bg span.title {
    border-bottom: none;
}

.white-bg > .title {
    box-shadow: none;
}

.white-bg > .title {
    text-align: center;
}

.bg-x {
    position: fixed;
    height: 160px;
    width: 160px;
    right: -80px;
    top: -80px;
    border-radius: 50%;
    background-color: #21abd9;
    cursor: pointer;
}

    .bg-x:hover {
        background-color: #21abd9;
    }

i.chart-modal-close {
    height: 60px;
    width: 60px;
    color: #777;
    font-size: 30px;
    line-height: 40px;
    font-family: "Î¢ÈíÑÅºÚ",monospace;
    font-style: normal;
    cursor: pointer;
    float: right;
}

    i.chart-modal-close:hover {
        color: #333;
    }

    i.chart-modal-close:active {
        background-color: #ccc;
    }

#chart-modal, #chart-modal2 {
    width: 1200px;
    max-width: 1200px;
    z-index: 100000;
    height: 480px;
    display: none;
    position: fixed;
    top: calc(50% - 240px);
    left: calc(50% - 600px);
}

.jqmOverlay {
    background-color: #000;
}


.c4l {
    padding: 50px 0;
    width: calc(50% - 1px);
}

.c4nav {
    color: #888;
    width: 175px;
    text-align: center;
}

    .c4nav > * {
        position: relative;
        cursor: pointer;
        padding: 21px 0;
    }

    .c4nav > .c4select:after {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - 8px);
        right: 16px;
        width: 10px;
        height: 16px;
        background-image: url(<c:url value="/img/arrow-right.png"/>);
    }

    .c4nav > :nth-child(n+2) {
        margin-top: 2px;
    }

.c4select {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.c4target {
    margin-left: 2px;
    height: 318px;
    width: calc(100% - 2px);
}

    .c4target > * {
        position: relative;
    }

.c4time {
    min-height: 36px;
    padding: 7px 18px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    background-color: rgba(255,255,255,0.1);
}

.c4div2 {
    width: 50%;
    vertical-align: bottom;
}

.c4note {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-decoration: none;
    background-color: #94848c;
    margin-right: 4px;
}



.c5icon {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px dashed #fff;
}

.c5half {
    white-space: nowrap;
    width: 50%;
}



.c6icon {
    display: inline-block;
    text-align: center;
    width: 66px;
    height: 66px;
}



.c7icon {
    display: inline-block;
    text-align: center;
    width: 66px;
    height: 66px;
    border: 1px dashed #fff;
}



.c8item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    align-items: center;
}

.c8item > :nth-child(1) {
    width: 100px;
    padding: 8px 0;
    text-align: right;
}

.c8item > :nth-child(2) {
    width: calc(50% - 100px);
    height: 10px;
}

    .c8item > :nth-child(2) > * {
        position: relative;
        margin: 0 0 0 auto;
        height: 100%;
        background-color: #308ece;
        text-align: right;
        font-size: 10px;
        line-height: 10px;
        white-space: nowrap;
    }

        .c8item > :nth-child(2) > * > * {
            position: absolute;
            top: 0;
            right: 4px;
        }

.c8item > :nth-child(3) {
    width: calc(50% - 100px);
    height: 10px;
}

    .c8item > :nth-child(3) > * {
        position: relative;
        height: 100%;
        background-color: #f56766;
        text-align: left;
        font-size: 10px;
        line-height: 10px;
        white-space: nowrap;
    }

        .c8item > :nth-child(3) > * > * {
            position: absolute;
            top: 0;
            left: 4px;
        }

.c8item > :nth-child(4) {
    width: 100px;
    padding: 8px 0;
    text-align: left;
}

.c8line {
    position: absolute;
    top: 8px;
    bottom: 12px;
    width: 1px;
    left: 50%;
    background-color: #fff;
}



.circle-1 {
    border-radius: 50%;
    height: 106px;
    width: 106px;
    font-size: 40px;
    line-height: 100px;
    vertical-align: bottom;
    text-align: center;
}

i.dot {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #fcb43a;
}

.progress {
    width: 100%;
    background-color: #fff;
    height: 20px;
    border-radius: 3px;
}

.progress-current {
    background-color: #fcb43a;
    position: relative;
    height: 100%;
    border-radius: 3px;
}

.progress-mark {
    border-radius: 3px;
    position: absolute;
    bottom: 34px;
    min-width: 56px;
    right: -28px;
    background-color: #fcb43a;
    text-align: center;
    padding: 4px;
}

.progress-mark-triangle {
    position: absolute;
    width: 0;
    height: 0;
    right: -3px;
    bottom: 28px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fcb43a;
}



.card1 {
    display: flex;
    flex-direction: column;
}

.card1 .c-item {
    flex-grow: 1;
}

.card2 {
    display: flex;
    flex-direction: column;
}

    .card2 .c-item2 {
        flex-grow: 1;
    }

.c2l {
    padding: 36px 32px;
    width: calc(50% - 1px);
}



.card3 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card3 .c-item {
    flex-grow: 1;
}

.c3l {
    position: relative;
    padding: 52px 0;
    width: calc(50% - 1px);
}

.c32 {
    position: relative;
    padding: 52px 0;
    width: calc(100% - 1px);
}

.circle2 {
    height: 120px;
    width: 120px;
    line-height: 110px;
    text-align: center;
}

.c3block {
    display: inline-block;
    border-radius: 3px;
    background-color: #eb557b;
    padding: 8px 10px;
}

.increase {
    background-color: #5bdc80;
}


.main-title {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    font-size: 28px;
    line-height: 39px;
    padding-top: 19px;
    color: #ddd;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.main-title:before, .main-title:after {
    display: block;
    content: '';
    width: 50%;
    height: 5px;
}

.main-title:before {
    margin: 0 60px 0 150px;
    background: linear-gradient(90deg, rgba(71, 158, 193, 0) 0, rgba(71, 158, 193, 0.7) 100%)
}

.main-title:after {
    margin: 0 220px 0 60px;
    background: linear-gradient(90deg, rgba(71, 158, 193, 0.7) 0, rgba(71, 158, 193, 0) 100%)
}

.l_top {
    background-color: rgba(0,0,0,0);
}

.i_btn > .grnum {
    display: block;
    position: absolute;
    top: 12px;
    right: 6px;
    font-size: 12px;
    height: 16px;
    line-height: 15px;
    padding: 0 4px;
    color: #fff;
    background: green;
    border: 1px solid #fff;
    border-radius: 6px;
}

.i_btns > .grnum {
    display: block;
    position: absolute;
    top: 12px;
    right: 6px;
    font-size: 12px;
    height: 16px;
    line-height: 15px;
    padding: 0 4px;
    color: #fff;
    background: green;
    border: 1px solid #fff;
    border-radius: 6px;
}

