<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glass.dao.sensor.AngleDao">

	<resultMap id="sensor_angle" type="com.glass.entity.sensor.Angle">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="sensor_name" property="sensorName" jdbcType="VARCHAR" />
		<result column="value_one" property="valueone" jdbcType="VARCHAR" />
	    <result column="value_two" property="valuetwo" jdbcType="VARCHAR" />
		<result column="value_three" property="valuethree" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />		
		<result column="decription" property="decription" jdbcType="VARCHAR" />		
	</resultMap>
	<select id="getAngleList" resultMap="sensor_angle" parameterType="com.glass.entity.sensor.Angle">
		select * from sensor_angle as t
		<where>
			<if test="sensorName != null and  sensorName != ''">
				t.sensor_name = #{sensorName}
			</if>
		</where>
	</select>
		

	<select id="getAngleCountManage" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			sensor_name as name,
		SUM(MONTH(create_time) = 1) as January,
		SUM(MONTH(create_time) = 2) as February,
		SUM(MONTH(create_time) = 3) as March,
		SUM(MONTH(create_time) = 4) as April,
		SUM(MONTH(create_time) = 5) as May,
		SUM(MONTH(create_time) = 6) as June,
		SUM(MONTH(create_time) = 7) as July,
		SUM(MONTH(create_time) = 8) as August,
		SUM(MONTH(create_time) = 9) as September,
		SUM(MONTH(create_time) = 10) as October,
		SUM(MONTH(create_time) = 11) as November,
		SUM(MONTH(create_time) = 12) as December
		from sensor_angle
		<where>
			<if test="name != null and  name != ''">
				sensor_name = #{name}
			</if>
		</where>
		GROUP BY sensor_name
	</select>
	
	<select id="syncAngleData" resultMap="sensor_angle" parameterType="map">
			select * from sensor_angle
		<where>
			<if test="startTime == 'null'  and endTime == 'null'  and lastAngleId != null">
				id > #{lastAngleId}
			</if>
			<if test="startTime != 'null' ">
				and STR_TO_DATE(DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s'),'%Y-%m-%d %H:%i:%s') &gt;= #{startTime}
			</if>
			<if test="endTime != 'null' ">
				and STR_TO_DATE(DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s'),'%Y-%m-%d %H:%i:%s') 	&lt;= #{endTime}
			</if>
			<if test="sensorName != null">
				and sensor_name = #{sensorName}
			</if>
		</where>
		
		<if test="endTime == 'null'">
				limit 1
		</if>
	</select>
	
	<select id="getAllItems" resultType="com.glass.entity.sensor.Angle">
		select an.* , b.description from sensor_angle an 
		inner join sensor_base b on an.sensor_name = b.num 
		order by an.sensor_name asc , cast(an.create_time as datetime) desc
	</select>

	
</mapper>